

/*body{background:#f6f9fb; font-size:14px; font-family: 'Open Sans', sans-serif;}*/
body{background:#fff; font-size:14px; font-family: 'Open Sans', sans-serif;}

html {  font-family: sans-serif;-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; line-height: 1.5;   font-weight: normal;  color:#000;}
body,ul,ol,dl,dt,dd,pre,form,fieldset,p,blockquote,th,td {  margin: 0; padding: 0px;}
li{ list-style: none; }
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0}

/* HTML5 Tag */
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary {display: block;}
audio,canvas,progress,video {  display: inline-block;}
audio:not([controls]) {display: none;  height: 0;}
progress {  vertical-align: baseline;} 

/* Anchor  */
a {  background-color: transparent; -webkit-text-decoration-skip: objects; text-decoration: none;}
a:active,a:hover,a:focus {  outline-width: 0;}
a img { border: none; display:block; } 

/* Heading Style  */ 
h1, h2, h3, h4, h5, h6 {font-weight: 400;  line-height: 1.5; margin: 0px; padding: 0px;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: $font20 + 6; line-height: 110%;}
h2 { font-size: $font20 + 4; line-height: 110%;}
h3 { font-size: $font20; line-height: 110%;}
h4 { font-size: $font16; line-height: 110%;}
h5 { font-size: $font14; line-height: 110%;}
h6 { font-size: $font12; line-height: 110%;}

/* Set Default Property */
mark {  background-color: #ff0;  } 
small {  font-size: 80%;}
sub,sup {  font-size: 75%;  line-height: 0;  position: relative;  vertical-align: baseline;}
sub {  bottom: -0.25em;}
sup {  top: -0.5em;}
img {  border-style: none;}
svg:not(:root) {  overflow: hidden;}
code,kbd,pre,samp {  font-family: inherit;  font-size: 1em;}
hr {  box-sizing: content-box;height: 0; }
abbr[title] {  border-bottom: none;text-decoration: underline;text-decoration: underline dotted;}
b,strong {  font-weight: bolder;}
dfn {  font-style: italic;}

