/* Margin Variables*/
$margin0:0px;
$margin5:5px;
$margin6:6px;
$margin15:15px;
$margin20:20px;
$margin25:25px;
$margin40:40px;
$margin33:33px;
$margin60:60px;
$margin65:65px;
$margin100:100px;
$margin102:102px;
$margin198:198px;
$margin-auto:auto;

/* Padding Variables*/
$padding0:0px;
$padding5:5px;
$padding12:12px;
$padding13:13px;
$padding15:15px; 
$padding18:18px; 
$padding20:20px;
$padding25:25px;
$padding30:30px;
$padding33:33px;
$padding40:40px;
$padding-auto:auto;


/*Font Size's*/
$font10:10px;
$font12:12px;
$font14:14px;
$font16:16px;
$font20:20px;
$font30:30px;
$font40:40px;
$font60:60px;

$fontinherit: inherit;

/*Line height Size's*/
$line-height9:9px;
$line-height12:12px;
$line-height14:14px;
$line-height16:16px;
$line-height20:20px;
$line-height25:25px;
$line-height30:30px;
$line-height40:40px;
$line-height60:60px;

/*Font Weight's*/
$font100:100;
$font200:200;
$font300:300;
$font400:400;
$font500:500;
$font600:600;
$font700:700;
$font800:800;

// text center
$textalign-center:center;

/*width Size's*/
$width12:12px;
$width14:14px;
$width16:16px;
$width20:20px;
$width40:40px;
$width60:60px;
$width100:100px;

/*height Size's*/
$height4:4px;
$height12:12px;
$height14:14px;
$height16:16px;
$height20:20px;
$height40:40px;
$height60:60px;

//shadow
$shadow: 0 5px 15px rgba( 0,0,0,0.35);

// border radius
$radius0:0px;
$radius5:5px;
$radius8:8px;
$radius15:15px;

// border 
$border0:0px ;
$border1:1px solid black;
$border5:5px;
$border15:15px;
 
//popins
$popins:"Poppins", sans-serif;
   
//inter

    $inter: "Inter", sans-serif;
    